<!DOCTYPE html>
<html>
  <head>

    <title>
      <%= Rails.configuration.ambflix.app_name  %>  
    </title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <div class="container admin--login--container"> 
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>