<!DOCTYPE html>
<html>
  <head>

    <title>
      
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin' %>
    
  </head>

  <body>
    <div class="container"> OIIII </div>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
